body {
  font-size: 13px;
  color: #222;
  background-color: hsl(40, 20%, 95%)
}

body, input, select, optgroup {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: inherit;
}

#container {
  display: -moz-box;
  display: -webkit-box;
  -moz-box-align: center;
  -webkit-box-align: center;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  width: 100%;
}

#header {
  font-size: 1.2em;
  text-align: center;
  margin: 40px 0 30px 0;
}

/* Login */

#bug-icon {
  margin-bottom: -2px;
  margin-right: 1px;
}

#login {
  font-weight: normal;
  margin-left: 0.1em;
}

#login-form {
  display: inline-block;
}

#login-name {
  margin-left: 0px;
  color: inherit;
  font-size: 100%;
  box-sizing: border-box;
  border: none;
  vertical-align: 0px;
  margin-bottom: 2px;
  min-width: 50px;
  padding: 0.3em 0.3em 0.3em 0.3em;
  font-style: italic;
  border: 1px solid transparent;
}

#login-name.logged-out {
  border: 1px solid #e9e9e9;
}

#login-name:focus {
  border: 1px solid #aaa;
}

/* Tabs */

.tabs {
  float: left;
  width: 530px;
}

.tab-head {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-radius: 2px 2px 0 0;
  padding: 0.8em 0.4em 0 0.4em;
  background-color: hsl(80, 20%, 97%)
}

.tab,
.tab:visited {
  font-weight: normal;
  font-size: 1.1em;
  display: inline-block;
  padding: 3px 0 8px 0;
  margin: 0 6px;
  color: #888;
}

.tab:hover {
  text-decoration: none;
  border-bottom: 3px solid grey;
}

.tab:focus {
  outline: none;
}

.tab.tab-selected {
  font-weight: bold;
  border-bottom: 3px solid hsl(180, 35%, 30%);
  color: hsl(180, 35%, 30%);
}

/* Sections */

#patch {
  box-shadow: rgba(0,0,0,.2) 0 .15em 0.6em;
  border-radius: 4px 4px 0 0;
  margin: 1em;
}

.header {
  font-size: 1.1em;
  border-bottom: 1px solid #ccc;
  border-radius: 2px 2px 0 0;
  padding: 9px 14px;
  font-weight: bold;
  background: linear-gradient(#ededed, #eee);
}

#content {
  margin-bottom: 40px;
}

#patch{
  background-color: white;
  border: 1px solid #CCC;
  float: left;
}

#review-list, #patch-list,
#checkin-list, #nag-list {
  min-height: 400px;
  max-height: 600px;
  overflow: auto;
}

.count {
  margin-left: 2px;
}

.count::before {
  content: "(";
}

.count::after {
  content: ")";
}

.list-item {
  padding: 0.8em;
  background-color: white;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.list-item:last-child {
  border-bottom: 1px solid #ccc;
}

.list-item:hover {
  background-color: hsl(60, 95%, 96%);
}

/* Flags */

.flag {
  display: list-item;
  margin-left: 1em;
}

/* Attachments */

.att-link, .att-link:visited {
  font-weight: bold;
  max-width: 354px;
  display: inline-block;
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
  color: hsl(180, 50%, 51%);
}

.att-by {
  margin-left: 2px;
  font-size: .9em;
  color: #777;
}

.att-name {
  color: #444;
}

.bug-id {
  -moz-text-decoration-line: underline;
  -moz-text-decoration-style: dotted;
   margin-right: 4px;
}

.bug-summary {
  width: 340px;
  display: inline-block;
  vertical-align: text-bottom;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
}

.bug-id:hover, .bug-summary {
  text-decoration: inherit;
}

/* Review section */

.review-type {
  color: inherit;
  background-color: #eff4ef;
  font-size: 0.9em;
  border: 1px solid #ededed;
  border-radius: 2px;
  padding: 2px 4px;
  float: right;
  cursor: pointer;
}

.review-type:hover {
  background-color: #ded;
  text-decoration: none;
}

.review-type:active {
  background-color: #cdc;
}

/* Micellaneous */

.spinner {
  display: block;
  margin: auto;
}

.empty-message {
  color: #aaa;
}

.item-date {
  margin-left: 6px;
  float: right;
  font-size: 0.9em;
}

.overdue {
  color: hsl(20, 100%, 50%);
}

.very-overdue {
  color: red;
}
